<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Messages</h1>
<h3>View messages</h3>

    <table>
        <tr>
            <th>
                Message Text
            </th>
        </tr>
        <tr th:each="message: ${messages}">
            <td th:text="${message.messageText}"></td>
        </tr>
    </table>

<h3>Add message</h3>
    <form action="/messages" method="post">
        Message: <input type="text" name="messageText"><br />
        <button type="submit">Add message</button>
    </form>
</body>
</html>